<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Lecture Scheduling App</h1>
        <a href="/register" class="button">Register as Student</a>
        <a href="/loginInstrcutor" class="button">Login as Instructor</a>
        <div>
            <h2> Or select your login type:</h2>
            <a href="/login-student" class="button">Student Login</a>
            <a href="/login-instructor" class="button">Instructor Login</a>
        </div>
        
    </div>
</body>
</html>
